doc_gen.sh
doxygen_*.*
doc_gen.bat
*.session
*.webprj
*.php~
/templates/
/toolbars/
*.html~
*.md~
*.buildpath
*.project
*.eclipse.*
/.settings/
*.css~
.gitconfig-*
/.idea/
sql_*.txt
*.log
/cron.sh
/vendor/
/composer.lock
.env
/public/avatar
/public/themes/*
/var
/tmp
*.php-cs-fixer.cache
