@charset "utf-8";

body {
    background : #141519;
    font : 12px Helvetica, sans-serif;
    color : #CCCCCC;
  }


.my {
    background : #141519;
    font : 12px Helvetica, sans-serif;
    padding : 5px;
    margin : 0px;
    border : #414b57 ridge 2px;
    color : #CCCCCC;
    text-align : left;
    vertical-align : top;
  }


.polja {
    vertical-align : top;
  }


.polja_small, .polja_sredni, .polja_big, .polja_copyright, .shapko, .polja_small_center {
    border : #414b57 ridge 3px;
    vertical-align : top;
  }


.polja_small {
    background : url(img/gpadient_small.jpg) repeat-x bottom;
  }


.polja_small_center {
    background : url(img/gpadient_small.jpg) repeat-x bottom;
    text-align : center;
  }


.polja_small_left {
    background : url(img/gpadient_small.jpg) repeat-x bottom;
    text-align : left;
  }


.polja_sredni, .shapko {
    background : url(img/gpadient_sredni.jpg) repeat-x bottom;
  }


.shapko {
    background : url(img/shapko2.png) no-repeat right;
  }


.polja_big {
    background : url(img/gpadient_big.jpg) repeat-x top;
    padding : 0px;
    margin : 0px;
  }


.polja_copyright {
    font : 10px serif;
    text-align : center;
    vertical-align : middle;
  }


.polja_copyright a, .polja_copyright  a:visited {
    color : #CCCCCC;
    text-decoration : none;
  }


.polja_copyright a:hover {
    color : #FFFFFF;
    text-decoration : none;
  }


.polja_copyright a:active {
    color : #FF0000;
    text-decoration : none;
  }


.td_spacer {
    padding : 0px;
    margin : 0px;
    border-width : 0px;
    height : 1px;
    max-height : 1px;
    min-height : 1px;
  }


.menu, .menu_left, .menu_right, .menu_push, .menu_push_left, .menu_push_right, .short_menu, .short_menu_left, .short_menu_right, .short_menu_push, .short_menu_push_left, .short_menu_push_right {
    padding : 0px;
    margin : 0px;
    border-width : 0px;
    height : 24px;
    vertical-align : middle;
  }


.menu_left {
    background : url(img/menu_left.png) no-repeat;
    font : 1px serif;
    width : 7px;
  }


.short_menu_left {
    background : url(img/short_menu_left.png) no-repeat;
    font : 1px serif;
    width : 7px;
  }


.menu_right {
    background : url(img/menu_right.png) no-repeat;
    font : 1px serif;
    width : 7px;
  }


.short_menu_right {
    background : url(img/short_menu_right.png) no-repeat;
    font : 1px serif;
    width : 7px;
  }


.menu {
    background : url(img/menu.png) repeat-x;
  }


.short_menu {
    background : url(img/short_menu.png) repeat-x;
  }


.menu_push {
    background : url(img/menu_push.png) repeat-x;
    color : #cccccc;
  }


.short_menu_push {
    background : url(img/short_menu_push.png) repeat-x;
    color : #cccccc;
  }


.menu_push_left {
    background : url(img/menu_push_left.png) repeat-x;
    font : 1px serif;
    width : 7px;
  }


.short_menu_push_left {
    background : url(img/short_menu_push_left.png) no-repeat;
    font : 1px serif;
    width : 7px;
  }


.menu_push_right {
    background : url(img/menu_push_right.png) no-repeat;
    font : 1px serif;
    width : 7px;
  }


.short_menu_push_right {
    background : url(img/short_menu_push_right.png) no-repeat;
    font : 1px serif;
    width : 7px;
  }


.menu a, .menu  a:visited, .short_menu a, .short_menu a:visited {
    color : #aaaaaa;
    text-decoration : none;
  }


.menu a:hover, .short_menu a:hover {
    color : #FFFFFF;
    text-decoration : none;
  }


.menu a:active, .short_menu a:active {
    color : #FF0000;
    text-decoration : none;
  }


.name_block, .name_block_left, .name_block_right {
    font : bold 14px serif;
    padding : 0px;
    margin : 0px;
    border-width : 0px;
    color : #CCCCCC;
    height : 26px;
    text-align : center;
    vertical-align : middle;
  }


.name_block_left {
    background : url(img/name_block_left.png) no-repeat;
    font : 3px serif;
    width : 7px;
  }


.name_block_right {
    background : url(img/name_block_right.png) no-repeat;
    font : 1px serif;
    width : 7px;
  }


.name_block {
    background : url(img/name_block.png) repeat-x;
  }


.mini_foto {
    border-width : 0px;
    color : #999999;
    text-align : center;
    vertical-align : middle;
  }


.mini_foto a, .mini_foto a:visited, .mini_foto a:hover, .mini_foto a:active {
    border : hidden 0px;
  }


.news {
    border-width : 0px;
    text-align : left;
    text-indent : 10px;
    vertical-align : top;
  }


.news_data {
    border-width : 0px;
    color : #999999;
    text-align : left;
    vertical-align : top;
  }


.login_user {
    border-width : 0px;
    text-align : center;
    vertical-align : middle;
  }


.login_user a, .login_user  a:visited, .mini_foto a, .mini_foto  a:visited, .news_data a, .news_data  a:visited, .news a, .news  a:visited {
    color : #CCCCCC;
    text-decoration : none;
  }


.login_user a:hover, .mini_foto a:hover, .news_data a:hover, .news a:hover {
    color : #FFFFFF;
    text-decoration : none;
  }


.login_user a:active, .mini_foto a:active, .news_data a:active, .news a:active {
    color : #FF0000;
    text-decoration : none;
  }


.stat {
    padding : 5px;
    margin : 0px;
    border-width : 0px;
    text-align : left;
    vertical-align : top;
  }


.stat_data {
    color : #999999;
    text-align : center;
    vertical-align : bottom;
  }


.regist {
    border-width : 0px;
    color : #999999;
    text-align : center;
    text-indent : 10px;
    vertical-align : top;
  }


.regist_data {
    margin : 0 50px;
    border-width : 0px;
    color : #999999;
    text-align : left;
    text-indent : 10px;
    vertical-align : top;
  }


.regist_center {
    text-align : center;
  }


.form {
    font : 10px "Courier New",Courier,monospace;
    height : 14px;
  }


.form_textarea {
    font : 12px "Courier New", Courier, monospace;
  }


.category, .category_center {
    padding : 0 0 5px;
    margin : 0px;
    border-width : 0px;
    text-align : center;
    vertical-align : middle;
  }


.category, .category_center {
    text-align : center;
  }


.category_left {
    text-align : left;
  }


.category {
    border-style : none none ridge;
    border-width : medium medium 2px;
    border-bottom-color : #414b57;
  }


.category a, .category  a:visited, .category_center a, .category_center  a:visited, .category_left a, .category_left a:visited {
    color : #CCCCCC;
    text-decoration : none;
  }


.category a:hover, .category_center a:hover, .category_left a:hover {
    color : #FFFFFF;
    text-decoration : none;
  }


.category a:active, .category_center a:active, .category_left a:active {
    color : #FF0000;
    text-decoration : none;
  }


.line {
    color : #999999;
  }


.mini_foto_category {
    border-width : 0px;
    float : left;
    vertical-align : top;
  }


.confirm_delete_photo {
    cursor : pointer;
  }


.confirm_delete_photo:hover {
    color : #FFFFFF;
    cursor : pointer;
  }


.description {
    font : 10px serif;
  }


.error {
    height : 14px;
    text-align : center;
    vertical-align : middle;
    width : 14px;
  }
